.footer {
  min-height: 100px;
  background: #e5e5e5;
  position: absolute;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  
}

.footer span {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #b8b8b8;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  
}
